In [ ]:
-- ---data setup---

-- create Or Replace transient database US_SALES_DATA;
-- create Or Replace transient schema ZONE_A;

-- CREATE or replace Transient TABLE US_SALES_DATA.ZONE_A.Sales (
--     ProductId INT,
--     MarketId INT,
--     TimeId INT,
--     NumStoreOperating INT,
--     SoldUnits INT,
--     TotalPrice DECIMAL(10, 2)
-- );

-- CREATE or replace Transient TABLE US_SALES_DATA.ZONE_A.product (
--     ProductId INT,
--     ProductName VARCHAR(100)
-- );

-- CREATE or replace Transient TABLE US_SALES_DATA.ZONE_A.market (
--     MarketId INT,
--     MarketName VARCHAR(100)
-- );

-- CREATE or replace Transient TABLE US_SALES_DATA.ZONE_A.time (
--     TimeId INT,
--     TimeName VARCHAR(100),
--     WeekId INT,
--     WeekName VARCHAR(100)
-- );

-- INSERT INTO US_SALES_DATA.ZONE_A.product (ProductId, ProductName)
-- VALUES
-- (100,'COKE'),
-- (101,'PEPSI');

-- INSERT INTO US_SALES_DATA.ZONE_A.market (MarketId, MarketName)
-- VALUES
-- (200,'STORE_A');

truncate table US_SALES_DATA.ZONE_A.Time;
truncate table US_SALES_DATA.ZONE_A.Sales;


INSERT INTO US_SALES_DATA.ZONE_A.Time (TimeId,TimeName,WeekId,WeekName)
values
(300,'01-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(301,'02-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(302,'03-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(303,'04-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(304,'05-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(305,'06-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(306,'07-SEPT-2024',1,'01-SEPT-2024 <=> 07-SEPT-2024'),
(307,'08-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(308,'09-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(309,'10-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(310,'11-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(311,'12-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(312,'13-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024'),
(313,'14-SEPT-2024',2,'08-SEPT-2024 <=> 14-SEPT-2024');

INSERT INTO US_SALES_DATA.ZONE_A.Sales (ProductId, MarketId, TimeId, NumStoreOperating, SoldUnits, TotalPrice)
VALUES
(100, 200, 300, 5, 101, 511.00),
(100, 200, 301, 5, 127, 600.00),
(100, 200, 302, 3, 80, 811.00),
(100, 200, 303, 3, 90, 900.00),
(100, 200, 304, 4, 151, 751.00),
(100, 200, 305, 4, 160, 800.00),
(100, 200, 306, 2, 60, 600.00),
(100, 200, 307, 2, 70, 700.00),
(100, 200, 308, 3, 90, 900.00),
(100, 200, 309, 4, 151, 750.00),
(100, 200, 310, 4, 160, 800.00),
(100, 200, 311, 4, 150, 750.00),
(100, 200, 312, 4, 160, 800.00),
(100, 200, 313, 2, 60, 600.00),
(101, 200, 300, 5, 100, 500.00),
(101, 200, 301, 5, 120, 611.00),
(101, 200, 302, 3, 81, 800.00),
(101, 200, 303, 3, 90, 900.00),
(101, 200, 304, 4, 151, 750.00),
(101, 200, 305, 4, 161, 801.00),
(101, 200, 306, 2, 60, 600.00),
(101, 200, 307, 2, 70, 711.00),
(101, 200, 308, 3, 91, 911.00),
(101, 200, 309, 4, 150, 750.00),
(101, 200, 310, 4, 161, 811.00),
(101, 200, 311, 4, 150, 751.00),
(101, 200, 312, 4, 161, 800.00),
(101, 200, 313, 2, 60, 600.00);

In [ ]:
SELECT * FROM US_SALES_DATA.ZONE_A.SALES

In [ ]:
SELECT * FROM US_SALES_DATA.ZONE_A.PRODUCT

In [ ]:
SELECT * FROM US_SALES_DATA.ZONE_A.MARKET

In [ ]:
SELECT * FROM US_SALES_DATA.ZONE_A.TIME

In [ ]:
CREATE OR REPLACE TRANSIENT DYNAMIC TABLE US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD
  TARGET_LAG = 'DOWNSTREAM'
  WAREHOUSE = COMPUTE_WH
  REFRESH_MODE = INCREMENTAL
  INITIALIZE = on_create
  AS
    SELECT PRODUCTNAME,MARKETID,TIMEID,NumStoreOperating,SoldUnits,TotalPrice
    FROM US_SALES_DATA.ZONE_A.SALES s
    inner join US_SALES_DATA.ZONE_A.PRODUCT p
    on s.productid=p.productid;

CREATE OR REPLACE TRANSIENT DYNAMIC TABLE US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT
  TARGET_LAG = 'DOWNSTREAM'
  WAREHOUSE = COMPUTE_WH
  REFRESH_MODE = INCREMENTAL
  INITIALIZE = on_create
  AS
    SELECT PRODUCTNAME,MARKETNAME,TIMEID,NumStoreOperating,SoldUnits,TotalPrice
    FROM US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD s
    inner join US_SALES_DATA.ZONE_A.MARKET m
    on s.marketid=m.marketid;

CREATE OR REPLACE TRANSIENT DYNAMIC TABLE US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK
  TARGET_LAG = 'DOWNSTREAM'
  WAREHOUSE = COMPUTE_WH
  REFRESH_MODE = INCREMENTAL
  INITIALIZE = on_create
  AS
    SELECT PRODUCTNAME,MARKETNAME,WEEKNAME,NumStoreOperating,SoldUnits,TotalPrice
    FROM US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT s
    inner join US_SALES_DATA.ZONE_A.TIME t
    on s.timeid=t.timeid;    

CREATE OR REPLACE TRANSIENT DYNAMIC TABLE US_SALES_DATA.ZONE_A.DYNAMIC_SALES
  TARGET_LAG = '60 seconds'
  WAREHOUSE = COMPUTE_WH
  REFRESH_MODE = INCREMENTAL
  INITIALIZE = on_create
  AS
    SELECT PRODUCTNAME,MARKETNAME,WEEKNAME,sum(NumStoreOperating) NumStoreOperating,sum(SoldUnits) SoldUnits,sum(TotalPrice) TotalPrice
    FROM US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK
    group by PRODUCTNAME,MARKETNAME,WEEKNAME;

In [ ]:
select * from US_SALES_DATA.ZONE_A.DYNAMIC_SALES

In [ ]:
INSERT INTO US_SALES_DATA.ZONE_A.Sales (ProductId, MarketId, TimeId, NumStoreOperating, SoldUnits, TotalPrice)
VALUES
(100, 200, 314, 5, 101, 512.00),
(100, 200, 315, 5, 127, 600.00),
(100, 200, 316, 3, 80, 812.00),
(100, 200, 317, 3, 90, 902.00),
(100, 200, 318, 4, 151, 751.00),
(100, 200, 319, 4, 160, 800.00),
(100, 200, 320, 2, 60, 602.00),
(101, 200, 314, 5, 100, 500.00),
(101, 200, 315, 5, 120, 622.00),
(101, 200, 316, 3, 81, 800.00),
(101, 200, 317, 3, 90, 902.00),
(101, 200, 318, 4, 151, 752.00),
(101, 200, 319, 4, 161, 801.00),
(101, 200, 320, 2, 60, 602.00);

INSERT INTO US_SALES_DATA.ZONE_A.Time (TimeId,TimeName,WeekId,WeekName)
values
(314,'15-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(315,'16-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(316,'17-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(317,'18-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(318,'19-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(319,'20-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024'),
(320,'21-SEPT-2024',3,'15-SEPT-2024 <=> 21-SEPT-2024');

In [ ]:
select * from US_SALES_DATA.ZONE_A.DYNAMIC_SALES

In [ ]:
update US_SALES_DATA.ZONE_A.PRODUCT set productName='RED COKE' where productName='COKE'

In [ ]:
select * from US_SALES_DATA.ZONE_A.PRODUCT

In [ ]:
-- ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD REFRESH;
-- ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT REFRESH;
-- ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK REFRESH;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES REFRESH;

In [ ]:
select * from US_SALES_DATA.ZONE_A.DYNAMIC_SALES

In [ ]:
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD SUSPEND;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT SUSPEND;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK SUSPEND;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES SUSPEND;

In [ ]:
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD RESUME;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT RESUME;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK RESUME;
ALTER DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES RESUME;

In [ ]:
DROP DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD;
DROP DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT;
DROP DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES_PROD_MRKT_WEEK;
DROP DYNAMIC TABLE IF EXISTS US_SALES_DATA.ZONE_A.DYNAMIC_SALES;